@CHARSET "UTF-8";
/*
 * help.css
 * ~~~~~~~~~~~~~~~
 *
 * :copyright: Copyright 2011 VersionOne
 * :license: Modified BSD, see LICENSE for details.
 *
 */

/* VersionOne colors
 * Pantone 216: #78082d
 * orange: #cb632a
 * yellow: #ebb229
 * light gray: #b0bca8
 * dark gray: #2c274
 * medium blue: #00496b
 */

/*	--------------------------------------------------
	Global Reset & Standards
	-------------------------------------------------- */
	html, body { margin: 0; padding: 0; }
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, strong, em, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
	table { border-collapse: collapse; border-spacing: 0; }
	ol, ul { list-style: none; }

/* PAGE LAYOUT -------------------------------------------------------------- */
/* --------------------------------------------------
	:: Grid
	-------------------------------------------------- */

	.container { padding: 10px 20px 0 20px; }
	
	.row, header .container, footer .page { width: 100%; max-width: 1060px; min-width: 828px; margin: 0 auto; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0px; }
	
	.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
	.column:first-child, .columns:first-child { margin-left: 0px; }
	
	.row .one.columns { width: 4.3%; }
	.row .two.columns { width: 13%; }
	.row .three.columns { width: 21.7%; }
	.row .four.columns { width: 30.4%; }
	.row .five.columns { width: 39.1%; }
	.row .six.columns { width: 47.8%; }
	.row .seven.columns { width: 56.5%; }
	.row .eight.columns { width: 65.2%; }
	.row .nine.columns { width: 73.9%; }
	.row .ten.columns { width: 82.6%; }
	.row .eleven.columns { width: 91.3%; }
	.row .twelve.columns { width: 100%; }
	
	.row .offset-by-one 	{ margin-left: 8.7%;  }
	.row .offset-by-two 	{ margin-left: 17.4%;  }
	.row .offset-by-three 	{ margin-left: 26.1%;  }
	.row .offset-by-four 	{ margin-left: 34.8%;  }
	.row .offset-by-five 	{ margin-left: 43.5%;  }
	.row .offset-by-six 	{ margin-left: 52.2%;  }
	.row .offset-by-seven 	{ margin-left: 60.9%;  }
	.row .offset-by-eight 	{ margin-left: 69.6%;  }
	.row .offset-by-nine 	{ margin-left: 78.3%;  }
	.row .offset-by-ten 	{ margin-left: 87%;  }
	.row .offset-by-eleven 	{ margin-left: 95.7%;  }
	
	img, object, embed { max-width: 100%; }
	img { -ms-interpolation-mode: bicubic; }
		
	
	/* Clear the columns automagically */
	 .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	 .row:last-child:after { content: ""; }
	 * html .row, * html .clearfix { height: 1%; }
	 .row, .clearfix { display: inline-block; }
	 .row, .clearfix { display: block; }



	body { background: #fff; font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif; font-size: 13px; color: #454545; line-height: 18px; text-shadow: 0 0 1px rgba(0,0,0,0.01); color: #555; }
	

p {
	  line-height: 1.25;
	}
	
	h1 {
		font-weight: bold; 
		color: #00A9E0;
		font-size: 38px;
		line-height: 1.5;
        text-align: center
	}
	
	h2 { 
	  font-weight: bold; 
		color: #005293;
		font-size: 28px;
		line-height: 1.25;
	}
	
	h3 { 
	  font-weight: bold; 
		color: #222;
		font-size: 22px;
		line-height: 1.25;
	}
	
	h4 { 
	  font-weight: bold; 
		color: #939598;
		font-size: 16px;
		line-height: 1.25;
	}
		
	h1 + a { 
		color: #00baff;
		text-decoration: none; 
		font-weight: normal;
		font-size: 20px;
	}
		
	a:hover { text-decoration: underline; }
	
	hr {
	  margin: 20px 0;
	  border: solid 1px #ccc;
	  border-width: 1px 0 0 0;
	}

	#hidden{
		display: none;
	}

    /*Content Bar*/
    #Content-Nav{
    background: none; 
    padding: 6px; /* Give the items some air to breathe */
    text-align:center
}

    #Content-Nav > li {
    display: inline-block;
    
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
}

    #Content-Nav > li > a{
    color: #666666;
    text-decoration: none;
          
}
    

    #Content-Nav > li > a:hover{
    color: #78082d;
    
    background:#f0f0f0;
}
       
/*body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #454545;
}

div.main {
	border-left: 22px solid #78082d;
	padding: 0px 0px 0px 0px;
}

/div.footer {
	font-size: 7pt;
	color: #b0bca8;
	text-align: right;
	margin-top: .5em;*/


/* HEADINGS ----------------------------------------------------------------- */
/*Page Layout*/
.container {text-align: left;position: relative;}
.container .list-el {margin: 0 0 0 40px;padding: 0px 0;}
.container .list-el li {padding-bottom: 18px;}

/* Branding */
header .logo {width: 244px;height: 45px; float:left;}

/* Global Nav */
header {height: 60px;background: black;}
header ul {float: right; height:inherit; margin-top:0;font-size:14px}
header ul li {display: inline-block;position: relative; margin:0; padding:0; }
header ul li a {display: block;padding: 0 10px;text-decoration: none; color:#fff;}
header ul li a:hover {color: #78082d;}
nav.global-menu-bottom {padding: 1em 0;}

footer {
	background: black;
	display: block;
}
footer .page {
	position: relative;
	height: 80px !important;
	padding-bottom: 0 !important;
}
footer .col {
	float: left;
	padding: 46px 0 0 0;
}
footer h3 {
	font-size: 13px;
	color: #fff;
	padding-bottom: 26px
}
footer ul {
	list-style: none;
}
footer .get-social {
	width: 100px;
	margin-right: 50px;
}
footer .get-social li {
	float: left;
	width: 33px;
	margin: 0 17px 7px 0;
}
footer .get-social a {
	display: block;
	width: 33px;
	height: 33px;
	background-image: url(http://www.versionone.com/assets/img/footer-sprite.png);
	background-repeat: no-repeat;
	text-indent: -9000em;
	overflow: hidden;
	-webkit-transition: background .2s ease-out .2s;
	-moz-transition: background .2s ease-out .2s;
	-o-transition: background .2s ease-out .2s;
	transition: background .2s ease-out .2s;
}




footer .copyright {
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 4px 90px 10px 0;
	text-align: right;
	color: #bfbfbf;
	font-size: 11px;
	line-height: 1.8em;
	background: url(http://www.versionone.com/assets/img/footer-sprite.png) 250px -109px no-repeat;
}
footer .copyright a {
	color: #cfcfcf;
	font-size: 12px;
}
footer .agile-made-easier {
	position: absolute;
	left: 0;
	bottom: 10px;
	padding: 14px 30px;
	border: 1px solid #565656;
	color: #eee;
	font-size: 18px;
}
/* ================================ end | Footer */

/*External Links*/
/*a.external { background-image: none !important; padding: 0px; } */
/*a.link-https { background-image: none !important; padding: 0px; } */
.tip-top #v1links a.external {background: url(/skins/common/icons/icon-external.gif?_=f479be77:site_3703) no-repeat center right !important;padding-right: 13px !important;}
#top #navbar a.external {background: url(/skins/common/icons/icon-external.gif?_=f479be77:site_3703) no-repeat center right !important;padding-right: 13px !important;}
#top #navbar a.link-https {background: url(/skins/common/icons/icon-external.gif?_=f479be77:site_3703) no-repeat center right !important;padding-right: 13px !important;}
#topic a.link-https {background: none !important;}
/*
h1 {
    margin-top: 16px;
    margin-bottom: 0px;
    color: #00496b;
}

h2 {
    margin-top: 16px;
    margin-bottom: 0px;
    color: #00496b;
}

h3 {
    margin-top: 16px;
    margin-bottom: 0px;
    color: #00496b;
}

h4 {
    margin-top: 16px;
    margin-bottom: 0px;
    color: #00496b;
}

/* BODY --------------------------------------------------------------------- */

p {
	
	margin-bottom: 10px;
}

/* LISTS -------------------------------------------------------------------- */

dl {
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}

dd {
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: normal;
}

ul {
	display: block;
    margin-top: .5 em;
	margin-bottom: .5 em;
    }

ul li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
    list-style: circle inside none;
    padding-left:2em;    
}

ul li ul li{
    margin-top: 0.5em;
	margin-bottom: 0.5em;
    list-style: disc inside none;
    padding-left: 2em;    
}

ul li ul li ul li{
    margin-top: 0.5em;
	margin-bottom: 0.5em;
    list-style: square inside none;
    padding-left: 2em;    
}


ol {
	display: block;
    margin-top: 1em;
	margin-bottom: 1em;
    list-style-type: decimal;
    padding-left: 40px;
}

ol li {
	color: #565656;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
    list-style-type: decimal;
}

ol li * {
	color: #565656;
	font-weight: normal;
}

ol li ol li {
	font-weight: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* LINKS -------------------------------------------------------------------- */

/* Links get a pseudo-underline */
a {
	color: #07496B;
    text-decoration: none;
    padding-bottom: 0px;
    /* border-bottom: 1px solid #ebb229; */
}
/* Links: #07496B; or #1777A4 */

/* Links get an underline-effect when hovered */
a:hover {
	color: #009FF2;
    text-decoration: none;
    padding-bottom: 0px;
    /* border-bottom: 1px solid #cb632a; */
}

/* But thumbnails don't */
a.thumbnail {
    text-decoration: none;
    border-bottom: none;
}

a.thumbnail:hover {
    text-decoration: none;
    border-bottom: none;
}


/* CODE --------------------------------------------------------------------- */

cite, code, samp {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

pre.cmd {
    background-color: black;
    padding: 0em 1em 0em 1em;
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    letter-spacing: 0.01em;
    color: #bbb;
    font-weight: bold;
}

hr {
    border: 1px solid #78082d;
    margin: 2em;
}

/* TABLE -------------------------------------------------------------------- */

table {
	width: 100%;
	text-align: left;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 0 -0.5em 2em -0.5em;
}

th {
	font-size: 16px;
	font-weight: normal;
	padding: 8px;
	background: #ddd;
	border-top: 4px solid #78082d;
	border-bottom: 1px solid #fff;
	color: #00496b;
}

td {
	padding: 8px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	color: #454545;
	border-top: 1px solid transparent;
}

tr:hover td
{
	background: #eee;
	color: #78082d;
}


/* INFO --------------------------------------------------------------------- */

table.info {
    background-color: #ebb229;
   	color: #78082d;
	margin-top: 0px;
	margin-bottom: 10px;
}

table.info td {
    background-color: #ebb229;
    color: #78082d;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: 0px solid #fff;
	border-top: 0px solid #fff;
    border: none;
}

.info {
    padding: 0.2em 0.5em 0.2em 30px;
    background: #ebb229 url(../images/icons/emoticons/information.gif) no-repeat 5px 3px;
   	color: #78082d;
	margin-top: 0px;
	margin-bottom: 10px;
	
}